In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_df=pd.read_csv('weather_data/cities.csv')
city_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Georgetown,MY,2022-01-30 07:21:04,5.4112,100.3354,91.33,67,20,11.50
1,1,Hobart,AU,2022-01-30 07:18:39,-42.8794,147.3294,77.22,56,20,1.01
2,2,Oistins,BB,2022-01-30 07:23:20,13.0667,-59.5333,75.29,73,40,14.97
3,3,Saldanha,ZA,2022-01-30 07:23:20,-33.0117,17.9442,73.45,67,0,11.03
4,4,Tahoua,NE,2022-01-30 07:23:21,14.8888,5.2692,62.58,13,0,16.11

In [3]:
#check the data types.
city_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
#Configure gmaps to use your google api key
gmaps.configure(api_key=g_key)

In [5]:
#get the max_temp
#max_temp=city_df['Max Temp']
#temps=[]
#for temp in max_temp:
#    temps.append(max(temp,0))

In [6]:
#Assign the locations to an array of lat and lng pairs.
locations=city_df[['Lat','Lng']]

#Assign the weights vaiable to some values.
max_temp=city_df['Max Temp']

#Assig the figure variable to the gmaps.figure() attribute
fig=gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

#Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heatmap_layer=gmaps.heatmap_layer(locations,weights=[max(temp,0) for temp in max_temp],
                                 dissipating=False,max_intensity=300,point_radius=4)

#Add the heatmap layer.
fig.add_layer(heatmap_layer)

#call the figure to plot data
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
#Heatmap of percent humidity.
locations=city_df[['Lat','Lng']]
humidity=city_df['Humidity']
fig=gmaps.figure(center=(30.0,31.0),zoom_level=1.5)
heat_layer=gmaps.heatmap_layer(locations,weights=humidity,dissipating=False,
                              max_intensity=300,point_radius=4)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
#create the cloudiness heatmap.
locations=city_df[['Lat','Lng']]
cloudiness=city_df['Cloudiness']
fig=gmaps.figure(center=(30.0,31.0),zoom_level=1.5)
heat_layer=gmaps.heatmap_layer(locations,weights=cloudiness,dissipating=False,
                              max_intensity=300,point_radius=4)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
#create wind speed heat map
locations=city_df[['Lat','Lng']]
wind_speed=city_df['Wind Speed']
fig=gmaps.figure(center=(30.0,31.0),zoom_level=1.5)
heat_layer=gmaps.heatmap_layer(locations,weights=wind_speed,dissipating=False,
                              max_intensity=300,point_radius=4)
fig.add_layer=(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
#Ask the customer to add a minimum and maximum temp values
min_temp=float(input('What is the minumum temperature you would like for your trip?'))
max_temp=float(input('What is the maximum temperature you would like for your trip?'))

What is the minumum temperature you would like for your trip?75
What is the maximum temperature you would like for your trip?90

In [11]:
#filtering data from df by using loc.
preferred_city_df=city_df.loc[(city_df['Max Temp']<=max_temp)&(city_df['Max Temp']>=min_temp)]

preferred_city_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Hobart,AU,2022-01-30 07:18:39,-42.8794,147.3294,77.22,56,20,1.01
2,2,Oistins,BB,2022-01-30 07:23:20,13.0667,-59.5333,75.29,73,40,14.97
5,5,Rikitea,PF,2022-01-30 07:23:21,-23.1203,-134.9692,76.86,64,100,7.16
9,9,Tecoanapa,MX,2022-01-30 07:23:22,16.5167,-98.7500,75.18,82,0,4.81
10,10,Faanui,PF,2022-01-30 07:23:23,-16.4833,-151.7500,80.73,71,100,5.32

In [12]:
preferred_city_df.count()

City_ID       149
City          149
Country       148
Date          149
Lat           149
Lng           149
Max Temp      149
Humidity      149
Cloudiness    149
Wind Speed    149
dtype: int64

In [13]:
preferred_city_df.isnull().sum()
#preferred_city_df.notnull().sum()

City_ID       0
City          0
Country       1
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [14]:
#drop na from df,assign to new df.
preferred_city_df=preferred_city_df.dropna()

preferred_city_df.count()

City_ID       148
City          148
Country       148
Date          148
Lat           148
Lng           148
Max Temp      148
Humidity      148
Cloudiness    148
Wind Speed    148
dtype: int64

In [15]:
#create a df call hotel_df to store hotel names along with city,country,max temp, and coordinates.
hotel_df=preferred_city_df[['City','Country','Max Temp', 'Lat','Lng']].copy()
hotel_df['Hotel Name']=''
hotel_df.head()

         City Country  Max Temp      Lat       Lng Hotel Name
1      Hobart      AU     77.22 -42.8794  147.3294
2     Oistins      BB     75.29  13.0667  -59.5333
5     Rikitea      PF     76.86 -23.1203 -134.9692
9   Tecoanapa      MX     75.18  16.5167  -98.7500
10     Faanui      PF     80.73 -16.4833 -151.7500

In [16]:
#Set parameters to search for a hotel.
params={'radius':5000,'type':'lodging','key':g_key}

In [21]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [23]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Hobart,AU,77.22,-42.8794,147.3294,Mantra on Collins Hobart
2,Oistins,BB,75.29,13.0667,-59.5333,Butterfly Beach Hotel
5,Rikitea,PF,76.86,-23.1203,-134.9692,People ThankYou
9,Tecoanapa,MX,75.18,16.5167,-98.7500,Hotel Manglares
10,Faanui,PF,80.73,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa
17,Mahebourg,MU,86.25,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
21,Chemin Grenier,MU,85.57,-20.4872,57.4656,Shanti Maurice Resort & Spa
22,Cape Town,ZA,75.11,-33.9258,18.4232,Southern Sun Waterfront Cape Town
23,Vila Velha,BR,76.95,-20.3297,-40.2925,Quality Suites Vila Velha
25,Vaini,TO,81.21,-21.2000,-175.2000,Keleti Beach Resort

In [25]:
#add a heatmap of temp for the vacation spots.
locations=hotel_df[['Lat','Lng']]
max_temp=hotel_df['Max Temp']
fig=gmaps.figure(center=(30.0,31.0),zoom_level=1.5)
heat_layer=gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
                              max_intensity=300,point_radius=4)
#create the heatmap markers for each city.
marker_layer=gmaps.marker_layer(locations)

fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
#call the fig
fig

Figure(layout=FigureLayout(height='420px'))

In [26]:
#Add the data to the code:hotel name, city name, country code, 
#and the maximum temperature values from the hotel_df.
info_box_template="""
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp}°F</dd>
</dl>
"""

In [27]:
#Store the Df row.
hotel_info=[info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [29]:
#Add a heatmap of temp for the vacation spots and a pop-up marker for each city.
locations=hotel_df[['Lat','Lng']]
max_temp=hotel_df['Max Temp']
fig=gmaps.figure(center=(30.0,31.0),zoom_level=1.5)
heat_layer=gmaps.heatmap_layer(locations,weights=max_temp,dissipating=False,
                              max_intensity=300,point_radius=4)
marker_layer=gmaps.marker_layer(locations,info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

#call fig
fig

Figure(layout=FigureLayout(height='420px'))